.ttk__order-widget--width-xs
.ttk__order-widget--width-sm

	.ttk__input__wrap--building,
	.ttk__input__wrap--apartment
		flex-basis: 50%

	.ttk__input__wrap--building
		padding-right: 7px
	.ttk__input__wrap--apartment
		padding-left: 7px
		.ttk__input__label
			left: 22px



.ttk__order-widget--width-lm

	.ttk__input__wrap--city,
	.ttk__input__wrap--street,
	.ttk__input__wrap--building,
	.ttk__input__wrap--name,
	.ttk__input__wrap--family,
	.ttk__input__wrap--apartment,
	.ttk__input__wrap--phone,
	.ttk__input__wrap--button
		flex-basis: 50%

	.ttk__input__wrap--city,
	.ttk__input__wrap--building,
	.ttk__input__wrap--family,
	.ttk__input__wrap--phone
		padding-right: 7px
	.ttk__input__wrap--street,
	.ttk__input__wrap--apartment,
	.ttk__input__wrap--name,
	.ttk__input__wrap--button
		padding-left: 7px
		.ttk__input__label
			left: 22px


.ttk__order-widget--width-md,
.ttk__order-widget--width-ld

	max-width: 1000px
	margin: 0 auto

	.ttk__input__wrap--city,
	.ttk__input__wrap--street,
	.ttk__input__wrap--name,
	.ttk__input__wrap--family,
	.ttk__input__wrap--phone,
	.ttk__input__wrap--button
		flex-basis: 33.33%

	.ttk__input__wrap--building,
		flex-basis: calc(20%)

	.ttk__input__wrap--apartment
		flex-basis: calc(13.33%)


	.ttk__input__wrap--city,
	.ttk__input__wrap--family,
	.ttk__input__wrap--building,
	.ttk__input__wrap--street,
	.ttk__input__wrap--name,
	.ttk__input__wrap--button
		padding-right: 7px

	.ttk__input__wrap--phone,
	.ttk__input__wrap--building,
	.ttk__input__wrap--street,
	.ttk__input__wrap--apartment,
	.ttk__input__wrap--name,
	.ttk__input__wrap--button
		padding-left: 7px
		.ttk__input__label
			left: 22px
		.ttk__input__fake
			left: 7px
			width: calc(100% - 7px)
