.ttk__order-widget
	.ttk__input__droplist
		position: absolute
		left: 0
		top: 100%
		width: 100%
		background-color: #fff
		font-size: 0
		overflow-y: scroll
		max-height: 500px
		box-shadow: 0 5px 5px #ccc

	.ttk__droplist
	.ttk__droplist__item
		display: block
		padding: 10px 15px
		font-size: 16px
		border: 1px solid #ccc
		border-top: 0
		text-decoration: none
		color: #333

		span
			color: #0854FF

		&.ttk__droplist__item--focused,
		&:hover,
		&:focus
			background-color: #0036AD
			border-color: #0036AD
			color: #fff

			span
				color: #A4C0FF

		&.ttk__droplist__item--selected,
			background-color: #022980
			border-color: #022980
			color: #fff

			span
				color: #A4C0FF