@import 'fonts.sass'
@import 'form.sass'
@import 'dropList.sass'

.ttk__order-widget *
	padding: 0
	margin: 0
	box-sizing: border-box
	outline: none

.ttk__order-widget
	font-family: 'PTSans', Arial, Helvetica, sans-serif