body {
	color: #555;
	/*font-family: 'Tahoma';*/
	font-size: 20px;
	background: #eee;
}

/*.order {
	max-width: 400px
}

@media(min-width: 768px) {

	.order {
		max-width: 50%
	}
}

@media(min-width: 1200px) {

	.order {
		max-width: 100%
	}
}*/
